/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* UTILITY */

.u-listStyle--none {
    list-style: none;
}

.u-flexGrow--1 {
    flex-grow: 1;
}

.u-colorGray {
   color: #606060;
}

.u-colorWhite {
    color: #fff;
}

.u-colorLightBlue {
    color: #464a50;
}

.u-linkDecoration--none {
    text-decoration: none;
}

.item__cover.item__cover--circle {
    border: 1px solid transparent;
    border-radius: 50%;
}

.item__cover.item__cover--circle img {
    width: 50%;
}

.u-positionRelative {
    position: relative;
}

.u-positionAbsolute {
    position: absolute;
}

/* LAYOUT */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* MAIN WINDOW */
#main-window {
    display: flex;
}


/* SIDEBAR */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 230px; /* larghezza sidebar */
    background: #000;
    font-weight: 500;
    font-size: 12px;
}

#sidebar-top__logo img {
    width: 143px;
    padding: 20px 0 20px 20px;
}

#sidebar-top__logo-sm {
    display: none;
}

#sidebar-top__main-menu {
    margin-top: 8px;
}

#sidebar-top__main-menu img {
    width: 24px;
    vertical-align: -webkit-baseline-middle;
    margin-right: 5px;
    margin-bottom: 8px;
}

#sidebar-top__main-menu ul li {
    border-left: 2px solid transparent;
    padding-left: 20px;
    transition: 250ms;
}

#sidebar-top__main-menu ul li:hover {
    border-left: 2px solid #acfe2e;
}

#sidebar-top__main-menu a:hover {
    color: #fff;
}

#sidebar-top__playlist {
    padding-left: 20px;
    margin-top: 10px;
}

#sidebar-top__playlist h2 {
    font-size: 14px;
    margin-bottom: 5px;    
}

#sidebar-top__playlist h3 {
    font-weight: 500;
}

#sidebar-top__playlist i {
    background: #fff;
    color: #000;
    font-size: 18px;
    padding: 8px 9px;
    margin-top: 5px;
    margin-right: 5px;
}

#sidebar-top__playlist ul li {
    margin-top: 18px;
}

.sidebar-bottom {
    padding: 10px 20px;
    margin-bottom: 10px;
}

#sidebar-bottom__install-app {
    border-bottom: 1px solid #606060;
    padding-bottom: 10px;
}

#sidebar-bottom__install-app i {
    margin-right: 5px;
    border: 1px solid #606060;
    border-radius: 50%;
    padding: 2px;
    font-size: 7px;
    vertical-align: middle;
}

#sidebar-bottom__account {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#sidebar-bottom__account a img {
    width: 20px;
    height: 21px;
    margin-right: 10px;
    background: #606060;
    border: 1px solid #606060;
    border-radius: 50%;
}

#sidebar-top__playlist a:hover,
#sidebar-bottom__install-app a:hover,
#sidebar-bottom__install-app i:hover {
    color: #fff;
}

/* CONTENT */
#content {
    position: relative;
    background: #141921;
}

.content__top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0, .4);
    z-index: 1;
}

.top-bar__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 20px;
}

.top-bar__btn a {
    border: 1px solid #fff;
    border-radius: 19px;
    padding: 12px 35px;
    font-weight: 500;
    font-size: 11px;
}

.top-bar__btn a:hover {
    color: #acfe2e;
    border: 1px solid #acfe2e;
}


#content .content__scrollable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* 90px = height di content-top-bar */
    padding: 90px 15px 30px;
    display: flex;
    flex-direction: column;
}

.scrollable__menu {
    padding: 20px 0 0;
}

.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.menu__link {
    position: relative;
    font-size: 13px;
    font-weight: 600;
}

.menu__link::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #86C52E;
    bottom: -5px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.menu__link:hover::after{
    opacity: 1;
  }


.menu__border {
    height: 2px;
    width: 35%;
    margin-top: 5px;
    background: #acfe2e;
    border: 1px solid transparent;
    border-radius: 10px; 
}

.menu__link:hover {
    color: #fff;
}

.scrollable__category {
    /* display: flex;
    flex-direction: column; */

}

.scrollable__category h2 {
    margin-top: 30px;
    font-size: 22px;
}

.category__item {
    display: flex;
    flex-basis: 100%;
}

.item__container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 6); */
    flex-basis: calc(100% / 6 );
    padding: 20px 10px 0 0;
    text-align: center;
}

.item__layover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.item__layover.item__layover--circle {
    border: 1px solid transparent;
    border-radius: 50%;
}
  
.item__layover i{
    color: white;
    font-size: 40px;
    display: none;
}
  
.overlay{
    width: 100%;
    margin-bottom: 10px;
}
  
.overlay:hover .item__layover{
    background: rgba( 0, 0, 0, 0.5);
}
  
.overlay:hover .item__layover i{
    display: block;
}

.item__cover {
    width: 100%;
    display: block;
}

.item__title {
    margin-top: 15px;
    font-size: 14px;
}

.item__subtitle,
.category__subtitle {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
}

/* BOTTOM PLAYER */
#player {
    display: flex;
    justify-content: space-between;
    background: #333;
    padding: 10px 5px;
  }
  
.player__album {
    display: flex;
    flex-basis: 250px;
    align-items: center;
}
  
.player__album a {
    margin: 0 5px;
    text-decoration: none;
}
  
  
.player__album a:nth-child(2) {
  margin-right: 15px;
}

.player__album img {
  width: 40px;
}

.player__album li {
  font-size: 12px;
  color: #606060;
}

.player__album li:first-child {
  color: #fff;
  font-weight: bold;
}

.player__album i {
  font-size: 13px;
  color: #7F8283;
}

.player__album .icon a:first-child i:hover {
  color: red;
  transition: 250ms;
}
.player__album .icon a:last-child i:hover {
  color: #acfe2e;
  transition: 250ms;
}

.player__album .icon {
  margin-left: 5px;
}


.player__control {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.top-player__control,
.bottom-player__control {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.top-player__control a {
  margin: 0 15px;
}

.top-player__control i {
  color: #7F8283;
}

.top-player__control a:nth-child(3) i {
  font-size: 30px;
}

.top-player__control i:hover {
  color: #fff;
}

.bottom-player__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-player__control h6 {
  font-size: 10px;
  color: #606060;
}

.bottom-player__control .bar {
  flex-basis: 50%;
  margin: 0 20px;
}

.bottom-player__control .bar i {
  position: absolute;
  top: 0;
  left: 24%;
  transform: translateY(-6px);
  color: #acfe2e;
  visibility: hidden;
}

.bar:hover{
  visibility: visible;
}

.bottom-player__control .bar:hover i {
  visibility: visible;
}

.volume {
  flex-basis: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume a {
  margin: 0 5px;
}

.volume i {
  font-size: 12px;
  color: #fff;
}

.volume .bar i {
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateY(-4px);
  color: #8be60d;
  visibility: hidden;
}

.volume .bar:hover i {
  visibility: visible;
}

.bar{
  vertical-align: middle;
  position: relative;
  background-color: #535353;
  height: 4px;
  flex-basis: 50%;
  border-radius: 10px;
  margin: 4px 10px 0;
}

.bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background-color: #bababa;
  border-radius: 10px;
}

.bar:hover::before {
  background-color: #fff;
}



